{% block footer %}
<!-- Footer -->
<footer class="footer text-center text-white bg-primary mt-auto ">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                    >
                        <img
                        src="{{asset('images/marseille1.jpg')}}"
                        class="img-fluid w-100"
                        />
                        <a href="#!">
                            <div
                            class="mask"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                    >
                        <img
                        src="{{asset('images/marseille2.jpg')}}"
                        class="img-fluid w-100"
                        />
                        <a href="#!">
                            <div
                            class="mask"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                    >
                        <img
                        src="{{asset('images/marseille3.jpg')}}"
                        class="img-fluid h-75 w-100"
                        />
                        <a href="#!">
                            <div
                            class="mask"
                            ></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                    >
                        <img
                        src="{{asset('images/marseille4.jpg')}}"
                        class="img-fluid w-100"
                        />
                        <a href="#!">
                            <div
                            class="mask bg-primary"
                            ></div>
                            </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                    >
                    <img
                    src="{{asset('images/marseille5.jpg')}}"
                    class="img-fluid w-100"
                    />
                    <a href="#!">
                        <div
                        class="mask"
                        ></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
                >
                <img
                src="{{asset('images/marseille6.jpg')}}"
                class="img-fluid w-100"
                />
                <a href="#!">
                    <div
                    class="mask"
                    ></div>
                </a>
                </div>
            </div>
        </div>
        </section>
        <!-- Section: Images -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark">
    © 2023 
        <a class="text-white" href="#">Immo-Marseille</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- End of footer -->
{% endblock %}