<section class="container my-3">
    <div class="row">
        <div class="col">
{{ form_start(form) }}
    {{ form_row(form.entryAt,{'class': 'form-control', type:'date'}) }}
    {{ form_row(form.exitAt,{'class': 'form-control', type:'date'}) }}
    {{ form_row(form.charges) }}
    {{ form_row(form.rent) }}
    {{ form_row(form.balance) }}
<<<<<<< Updated upstream
=======
	{{ form_row(form.apartment) }}

>>>>>>> Stashed changes
    <button class="btn btn-lg btn-primary mt-2" type="submit"> {{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
		</div>
	</div>
</section>
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script>
		$('.js-input-date').flatpickr({
<<<<<<< Updated upstream
			dateFormat: 'Y.m.d',
=======
			dateFormat: 'm.d.Y',
>>>>>>> Stashed changes
			locale: {firstDayOfWeek: 1,
			weekdays: {
				shorthand: ['Lun','Mar','Mer','Jeu','Ven','Sam','Dim'],
				longhand: ['Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi','Dimanche']
			},
			months: {
				shorthand: ['Jan','Fév','Mar','Avr','Mai','Jui','Juil','Août','Sept','Oct','Nov','Déc'],
				longhand: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre']
			}
        }})
	</script>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery('.add-another-collection').click(function (e) {
<<<<<<< Updated upstream
				var list = $("#images-fields-list");
				var counter = list.data('widget-counter') | list.children().length;
				var newWidget = list.attr('data-prototype');
=======
				const list = $("#images-fields-list");
				let counter = list.data('widget-counter') | list.children().length;
				let newWidget = list.attr('data-prototype');
>>>>>>> Stashed changes
				newWidget = newWidget.replace(/__name__/g, counter);
				counter++;
				list.data('widget-counter', counter);

<<<<<<< Updated upstream
				var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
=======
				let newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
>>>>>>> Stashed changes
				newElem.appendTo(list);
				newElem.append('<a href="#" class="remove-tag" style="color: darkred">Supprimer</a>');
				$('.remove-tag').click(function (e) {
				e.preventDefault();

				$(this).parent().remove();
				});
			});
		});
	</script>
    <script>
    
    </script>
{% endblock %}