{% extends 'base.html.twig' %}

{% block title %}Détail d'une location{% endblock %}

{% block body %}
    <h1 class="ms-3">Détail de la location</h1>

    <table class="table table-striped table-hover ms-3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rental.id }}</td>
            </tr>
            <tr>
                <th>Début-location</th>
                <td>{{ rental.entryAt ? rental.entryAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Fin-location</th>
                <td>{{ rental.exitAt ? rental.exitAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Charges</th>
                <td>{{ rental.charges }}</td>
            </tr>
            <tr>
                <th>Loyer</th>
                <td>{{ rental.rent }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ rental.balance }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('tenant/_list.html.twig',{'is_action':false}) }}
    {{ include('inventory_of_fixtures/_list.html.twig') }}
    <a href="{{ path('app_rental_index') }}" class="btn btn-secondary ms-3 mt-2 mb-5">Retour à la liste des locations</a>
{% endblock %}
