<section class="container my-3">
    <div class="row">
        <div class="col">
        {{ form_start(form) }}
    <fieldset>
        <legend>Identité du locataire</legend>
        {{ form_row(form.firstName)}}
        {{ form_row(form.lastName)}}
        {{ form_row(form.dateOfBirth,{'class': 'form-control', type:'date'})}}
        {{ form_row(form.birthPlace)}}
        {{ form_row(form.civilStatus)}}
    </fieldset>
    <fieldset>
        <legend>Mes coordonnées</legend>
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}
        {{ form_row(form.zipCode) }}
    </fieldset>
    <fieldset>
        <legend>Garant</legend>
        {{ form_row(form.guarantor) }}
    </fieldset>
    <button class="btn btn-lg btn-primary mt-2" type="submit"> {{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
		</div>
	</div>
</section>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script>
		$('.js-input-date').flatpickr({
			dateFormat: 'Y.m.d',
			locale: {firstDayOfWeek: 1,
			weekdays: {
				shorthand: ['Lun','Mar','Mer','Jeu','Ven','Sam','Dim'],
				longhand: ['Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi','Dimanche']
			},
			months: {
				shorthand: ['Jan','Fév','Mar','Avr','Mai','Jui','Juil','Août','Sept','Oct','Nov','Déc'],
				longhand: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre']
			}
        }})
	</script>
    {% endblock %}